.element_item{
    display: inline-block;
    width: 150px; 
    border: 1px solid #000000;
    word-wrap: break-word;
    margin: 0 auto;
}
.CompStyle{
    background-color: #b0abab;
    text-decoration: line-through;
}