.container {
    display: inline-block;
    width: auto;
    border: 1px solid black; /* Just for visualization */
  }
.paragraph_p{
    background-color: #ffffff;
    max-width: 1000px; 
    width: 100%; 
}